/* .App{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.card-outer{
  padding-bottom: 16px;
  padding-top: 16px;
}


.card-container{
  width: 224px;
  padding: 10px;
  background-color:white;
  border-radius: 15px;
  font: -webkit-mini-control;
  /* margin-left: 20px;
  margin-top: 20px; */
  }

.card-pack{
  text-align: center;
  font-family: monospace;
  font-weight: 600;
  margin-bottom: -1pc;
}

.card-price{
  font-size: xx-large;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.card-userList{
  font-family: math;

}

.button{
  background-color: #00d1e3;
  width: 223px;
  height: 30px;
  font: inherit;
  margin-bottom: 6px;
  border-radius: 20px;

}

.card-private-projects{
    font-family: math;
    font-size: small;
    opacity: 0.3;
}

.card-support{
  font-family: math;
  font-size: small;
  opacity: 0.3;
}

.card-free{
  font-family: math;
  font-size: small;
  opacity: 0.3;
}

.card-reports{
  font-family: math;
  font-size: small;
  opacity: 0.3;
}

/* --------------------------------------------------- */


.card-private-projects1{
    font-family: math;
}

.card-support1{
  font-family: math;
} 

.card-free1{
  font-family: math;
  
}

.card-reports1{
  font-family: math;
  opacity: 0.3;
}
  

/* -------------------------------------- */

.card-private-projects2{
  font-family: math;
}

.card-support2{
font-family: math;
} 

.card-free2{
font-family: math;

}

.card-reports2{
font-family: math;
}


.heading{
  text-align: center;

}

.cards{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: beige;
}